/*color pallete*/
/*
#5A7D7C Dark
#DADFF7
#232C33 Base
#A0C1D1
#B5B2C2 Ligth 
*/
html{
    font-family: 'Poor Story', cursive;
}

.conteiner{
    background: #4ECDC4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #556270, #4ECDC4);
  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #556270, #4ECDC4);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 height:100vh ;
 display: flex;
    align-items: center;
    justify-content: center
    
 }

 .content{
    background-color: white;
    /*max-width: 960px;
    max-height: 600px;
    width: 100%;
    height:100%; */
    height: 85vh;
    width: 85vw;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: 19px;
    position: relative;
    padding: 0.5em;
    border-radius: 20px;
    overflow: scroll;
    
 }

 .table{
     width: 100%;
     border-spacing: 0;    
 }

 .table th,
 .table td {
     padding: 1em;
     text-align: left;    
 }
 td:nth-of-type(1){
     font-size: 1.5em;
     color: crimson;
}

 .table tr:nth-child(even){
     background-color: #B5B2C2;

 }

 th{
     display: none;
 }

 td{
     display: block;
 }

 .fa-angry{
     color: #5A7D7C;
    }

 .fa-bomb{
     color: #5A7D7C;
 }

 /* .inline{
     display: inline-block;
 } */
 .center{
     text-align: center;
 }

 .underline{
     border-bottom: solid 5px;
     padding-bottom: 15px;
 }

 .position{
     background-color: #B5B2C2  ;
     padding: 10px;
     margin-left: 5px;
     border-radius: 4px;

 }

 .amiembros{
     position: absolute; 
     top: 500px;
     left: 500px;
 }

 /* .actions{
     position: absolute;
     top: 1em;
     right: 1em;
 } */

 .actions{
    position: sticky;
    top: 1em;
    left: 1em;
    display: flex;
    justify-content: flex-end;
}
 .close{
     height: 40px;
     width: 40px;
     background-color: #B5B2C2;
     color: black;
     border-radius: 10px;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
     display: flex;
     align-items: center;
     justify-content: center;
 }
a{  
     text-decoration: none;
}

 .title {
     text-transform: uppercase;
     text-align: center;
 }

.item-title{
    text-transform: uppercase;
    font-size: 0.8em;
}

.conteiner2{
    background: #4ECDC4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #556270, #4ECDC4);
  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #556270, #4ECDC4);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 height:100vh ;
 margin: 0px;
 display: flex;
    align-items: center;
    justify-content: center
    
 }

 .item-image{
     display: none;
 }
  iframe{
      width:70vw;
  }

 i:hover{
     color: red;
 }

 a:visited{
     color: fuchsia;

 }
 
 @media(min-width:600px){
    th{
        display: table-cell;
    }
    td{
        display: table-cell;
    }
    td:nth-of-type(1){
        font-size: 1em;
        color: black;
   }
   .content{
       width: 70vw;
       height:70vh;
       padding: 1.8em;
   }
   .item-image{
       display: inline-block;
   }
   iframe{
       height:222px;
       width: 320px;
   }
   .inline{
    display: inline-block;
   }
   .actions{
    position: absolute;
    top: 1em;
    right: 1em;
    } 
    .item-title{
        text-transform: uppercase;
        font-size: 1.5em;
    }
 }
